:root {
  --base-font-size: calc(0.8rem + 1vw);
}

html {
  background: linear-gradient(to bottom, #70bf81 20%, #8ba1e6 60%, #f26269 100%);
  font-family: "Inter", sans-serif;
  font-size: var(--base-font-size);
  line-height: 1.5;
  font-weight: 300;
  overflow-x: hidden;
  color: white;
  scrollbar-color: #ffffff #7f96ff;
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: auto;
  }
}

body {
  margin: 0;
  padding: 0;
  padding-bottom: 5em;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #7f96ff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c3ceff;
}

h1 {
  font-size: calc(var(--base-font-size) * 1.6);
  line-height: 1.2;
}

h2 {
  font-size: calc(var(--base-font-size) * 1.2);
  font-weight: 800;
}

h3 {
  font-size: calc(var(--base-font-size) * 0.9);
  font-weight: 600;
}

p {
  font-weight: 300;
}

a {
  text-decoration: none;
  color: white;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-offset: 0.05em;
  text-decoration-thickness: 0.15em;
  text-decoration-color: #7f96ff;
  transition: 1s;
}

a:hover {
  text-decoration-color: #ffec51;
}

.visually-hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px,
      1px,
      1px,
      1px);
  /*maybe deprecated but we need to support legacy browsers */
  clip-path: inset(50%);
  /*modern browsers, clip-path works inwards from each corner*/
  white-space: nowrap;
  /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}

.hero {
  min-height: 100vh;
  width: auto;
}

.hero-bg {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
}

.hero-bg-inner {
  height: 100%;
  margin: auto;
  background: no-repeat center/80% radial-gradient(#2787bd, transparent 70%);
}

.hero div.center-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100vw;
  min-height: 100vh;
}

nav {
  padding-top: 0.1em;
  display: flex;
  justify-content: center;
}

.hero nav {
  position: absolute;
  width: 100vw;
}

.hero img {
  max-width: 80vw;
  padding: 3vw 0 3vw 2vw;

  transform: rotate(7deg);
}

.hero ul.artist-list {
  display: none;
}

.hero nav ul {
  list-style: none;
  padding-left: 0px;
}

.hero nav ul,
.hero ul.artist-list {
  color: white;
  font-weight: bold;
}

.hero ul.artist-list {
  max-width: 60vw;
  line-height: calc((var(--base-font-size)) * 1.6);
}

.hero nav ul li,
.hero ul.artist-list li {
  display: block;
}

.hero ul.artist-list li a {
  white-space: nowrap;
  color: white;
}

li:not(:last-child) {
  margin-bottom: 1em;
}

.inner-page nav {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  padding: 1em;
  background: linear-gradient(to right, #f46166, #89a2e8 40%, #fdc555 100%);
}

.inner-page nav a:not(:first-child) {
  /* margin-top: 0.4vw; */
}

.inner-page nav a.logo-link {
  height: 100%;
  width: 80vw;
}

.inner-page nav a img {
  max-width: 80vw;
  transform: rotate(4deg);
}

main.home-main {
  margin: auto;
  display: grid;
  gap: 5em;
}

main.project-main {
  margin: auto;
  /* display: grid;
  gap: 1em; */
}

.project-main-display>* {
  max-width: 100%;
}

section.project-card-section {
  width: 100vw;
}

.project-card {
  height: 35vh;
  margin: auto;
  width: 80vw;
  background: white;
}

section.project-card-section {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: -20vh;
  pointer-events: none;
}

section.project-card-section:not(:first-child) {
  margin-top: -80vh;
}

.project-card-wrapper {
  position: absolute;
  width: 100vw;
  top: 36%;
  pointer-events: auto;
}

.project-card-gradient-wrapper {
  width: 100vw;
  height: 115vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 1.5s;
  z-index: -1;
}

.project-card-gradient {
  width: 85%;
  height: 100%;
  background: radial-gradient(circle at 50% 60%, #f89affa2 15%, transparent 23%),
    radial-gradient(circle at 60% 30%, #f89affd5 2%, transparent 14%),
    radial-gradient(circle at 40% 62%, #9a73f6d0 15%, transparent 30%),
    radial-gradient(circle at 55% 55%, #80eaef 25%, transparent 40%),
    radial-gradient(circle at 54% 45%, #80eaef 15%, transparent 30%),
    radial-gradient(circle at 49% 48%, #12ff45 25%, transparent 50%),
    radial-gradient(circle at 50% 51%, #fff 25%, transparent 50%);
  animation: project-gradient 2s 2s linear infinite alternate;
  background-repeat: no-repeat;
  background-size: 69% 69%;
  background-position: center;
}

@keyframes project-gradient {
  100% {
    opacity: 0.6;
    background-size: 78% 75%;
  }
}

.project-card-section a:hover+.project-card-gradient-wrapper {
  opacity: 1;
}

.project-card-inner::after {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: white;
  background-image: url("images/sleeper.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  transition: 2s;
}

.card-chen::after {
  background-image: url("images/chen.jpg");
}

.card-jezewska::after {
  background-image: url("images/jezewska.png");
}

.card-capshaw::after {
  background-image: url("images/capshaw-mack.jpg");
}

.card-clay::after {
  background-image: url("images/clay.jpg");
}

.card-soren::after {
  background-image: url("images/soren.jpg");
}

.card-benitez::after {
  background-image: url("images/jose.jpg");
}

.card-stern::after {
  background-image: url("images/stern.jpeg");
}

.card-charles::after {
  background-image: url("images/cooling-off-2.jpg");
}

.card-gawrysiak::after {
  background-image: url("images/gawrysiak.jpg");
}

.card-mcdonald::after {
  background-image: url("images/mcdonald.jpg");
}

.card-niceley::after {
  background-image: url("images/niceley.jpg");
}

.card-huang::after {
  background-image: url("images/huang.png");
}

.card-sleeper::after {
  background-image: url("images/sleeper.jpg");
}

.card-wiesenberger::after {
  background-image: url("images/wiesenberger.jpg");
}

.project-card-inner {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.project-card-inner>* {
  color: rgb(6, 74, 32);
  padding: 0;
  margin: 0 0 0.3em 0;
  z-index: 2;
  transition: 0.7s;
}

.project-card-section a:hover .project-card-inner>h2,
.project-card-section a:hover .project-card-inner>h3 {
  opacity: 0;
}

.project-card-inner:hover::after {
  opacity: 1;
}

.project-card-arrow {
  position: absolute;
}

.project-card-inner .project-card-arrow svg {
  width: 5em;
  /* position: absolute; */
  opacity: 0;
  text-align: center;
  transition-delay: 0.1s;
  transition-duration: 1.3s;
  margin: 0 auto;
  /* transform: translateX(-50%); */
  filter: drop-shadow(3px 5px 10px rgba(116, 230, 139, 0.4));
}

.project-card-section a:hover .project-card-arrow svg {
  opacity: 1;
  z-index: 2;
}

.project-main {
  padding: 1.5em;
}

.project-intro,
.project-description,
.bio {
  max-width: 90vw;
  margin: 0 auto;
}

/* .project-main-full .project-intro,
.project-main-full .project-description,
.project-main-full .bio {
  max-width: 50vw;

} */

.bio {
  padding-top: 1em;
}

/* .project-main {
  margin: 0 auto;
  padding: 1.5em;
  max-width: 90vw;
} */
.project-main-display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2em;
  max-width: 100vw;
}

.social-link {
  font-weight: 600;
}

.inner-page {
  background-color: #2e7abd;
}

.inner-page nav img {
  padding-top: 2em;
}

.click-view-note {
  position: absolute;
  font-weight: bold;
  background-color: #4c69ec;
  padding: 0.2em 1em 0.2em 1em;
  margin-bottom: 5em;
  max-width: 60vw;
  opacity: 0.8;
}

.back-artworks-link {
  position: fixed;
  right: 0.2em;
  top: 0;
  background-color: #70bf81;
  padding: 0.2em 1em 0.2em 1em;
}

.footer-home {
  display: flex;
  justify-content: center;
  width: 100%;
}

.back-top-link {
  font-weight: 700;
}

.vid-wrapper {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding: 56.3% 0 0 0;
  position: relative;
  margin-bottom: 1em;
}

.vid-wrapper iframe {
  /* height: 50vh;
  width: 85vw; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

small {
  text-transform: uppercase;
  letter-spacing: calc(var(--base-font-size) * 0.06);
}

hr {
  color: white;
}

.caption {
  font-size: calc(var(--base-font-size)*0.5);
  padding: 0.5em 0 1em 0;
  opacity: 0.6;
  margin-right: 2em;
  max-width: 90vw;
}

.caption.heavy {
  opacity: 1;

}

.rightalign {
  text-align: right;
  width: 100%;
  display: inline-block;
}

.artist-name {
  margin-bottom: -1em;
  font-weight: 500;
  letter-spacing: calc(var(--base-font-size) * 0.05);
  opacity: 0.8;
}

.human-nature-grid,
.cooling-off-grid {
  display: grid;
  gap: 3em;
}

.surface-tension-grid {
  /* gap: 3em; */
}

.surface-tension-item img {
  max-width: 100%;
}

.narcissus {
  font-size: 0;
}

@media screen and (min-width: 700px) {
  .project-card-wrapper {
    top: 30%;
  }

  .inner-page nav img {
    padding-top: 0;
  }

  .back-artworks-link {
    top: 1em;
    right: 1em;
    padding: 0;
    background-color: transparent;
  }

  .click-view-note {
    font-size: calc(var(--base-font-size) * 0.8);
    transition: 0.3s;
  }

  .click-view-note:hover {
    border-bottom: 0.2em solid #ffec51;
  }

  .hero ul.artist-list {
    display: block;
    padding-left: 0px;
  }

  nav {
    position: relative;
  }

  .hero img {
    margin-top: 7em;
  }

  .hero nav ul li,
  .hero ul.artist-list li {
    display: inline-block;
  }

  .hero ul.artist-list li::before {
    content: "\22F1";
    margin-right: 0.3em;
    color: #ffec51;
  }

  ul.artist-list {
    text-align: center;
  }

  .hero nav ul li:not(:last-child) {
    margin-right: 2em;
  }

  .hero img {
    width: 70vw;
    padding-left: 1.3vw;
  }

  .project-main,
  .project-main-full {
    padding-top: 2em;
  }

  .project-intro,
  .project-description,
  .bio,
  .project-main {
    max-width: 50vw;
  }

  .project-main-full .project-intro,
  .project-main-full .project-description,
  .project-main-full .bio {
    max-width: 50vw;

  }

  .project-main-display>* {
    max-width: 50vw;
  }

  .project-main-display>noscript>* {
    max-width: 50vw;
  }

  .project-main-display .lightbox-thumb img {
    max-width: 50vw;
  }

  .thin-display {
    width: 100vw;
    margin: 0 auto;
  }

  .thin-display>* {
    max-width: 50vw;
  }

  section.project-card-section:not(:first-child) {
    margin-top: -60vh;
  }

  .inner-page nav {
    justify-content: space-between;
    flex-direction: row;
  }

  .inner-page nav a img {
    max-width: 30vw;
  }

  /* .cooling-off-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5em;
  } */

  .narcissus {
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    padding: 2em 0;
    background-color: black;
  }

  .caption {
    margin-right: 0;
  }

  .surface-tension-eye {
    max-width: 80%;
  }

}

.narcissus img {
  max-width: 100%;
}

.narcissus-caption {
  margin-right: 2em;
}

.surface-tension-eye {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.surface-tension-eye img {
  max-width: 100%;
  margin: 0 auto;

}

.surface-tension-item {
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1000px) {

  html {
    font-size: calc(var(--base-font-size) * 0.7);
  }

  /* h1 {
    font-size: calc(var(--base-font-size) * 1.5);
  }
  h2 {
    font-size: calc(var(--base-font-size) * 1);
  }
  h3 {
    font-size: calc(var(--base-font-size) * 0.9);
  } */
  .hero img {
    width: 50vw;
  }

  .project-card {
    width: 55vw;
    height: 45vh;
  }

  .inner-page nav a.logo-link {
    width: 60vw;
  }

  .inner-page nav a img {
    max-width: 16vw;
  }
}

@media screen and (min-width: 2000px) {
  html {
    font-size: calc(1rem+0.3vw);
  }
}


.flex-container {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  margin-top: -40vh;
}

.dropdown {
  text-align: center;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: #7f96ff;
  font-family: "Inter", sans-serif;
  margin: 0;
  transition: 0.5s;
}

.dropdown-content {
  display: none;
  background-color: rgba(45, 173, 180, 0.9);
  min-width: 90%;
  margin: 0 auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
  left: 5%;
}

.dropdown-content ul li {
  list-style-type: none;
  margin-bottom: 0;

}

.dropdown-content ul {
  margin: 0;
  padding: 0;

}

.dropdown-content a {
  float: none;
  color: white;
  font-weight: bold;
  padding: 1em;
  text-decoration: none;
  display: block;
  text-align: left;
}

.artist-list a:hover,
.dropdown:hover .dropbtn {
  background-color: rgba(45, 173, 180, 0.9);
  color: white;
}

.dropdown-content a:hover {
  background-color: rgba(79, 194, 200, 0.9);
}

.dropdown.open .dropdown-content {
  display: block;
}

.open+.dropdown-content {
  display: block;
}

@media screen and (min-width: 2000px) {
  html {
    font-size: calc(1rem+0.3vw);
  }

  .artist-list a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }

  .artist-list a.icon {
    float: right;
    display: block;
  }
}



@media screen and (max-width: 700px) {

  /*.artist-list a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }*/
  .artist-list a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .artist-list a.icon {
    float: right;
    display: block;
  }

  .artist-list.responsive {
    position: relative;
  }

  .artist-list.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .artist-list.responsive a {
    float: none;
    display: block;
    text-align: center;
  }

  .artist-list.responsive .dropdown {
    float: none;
  }

  .artist-list.responsive .dropdown-content {
    position: relative;
  }

  .artist-list.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: center;
  }
}

@media screen and (min-width: 700px) {
  .flex-container {
    display: none;
  }
}