html {
  background-color: #70bf81;
  font-family: "Inter", sans-serif;
  font-size: 3vw;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  padding-bottom: 5em;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.2em;
  font-weight: 800;
}
h3 {
  font-size: 0.9em;
  font-weight: 600;
}
a {
  text-decoration: none;
}
.visually-hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(
    1px 1px 1px 1px
  ); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(
    1px,
    1px,
    1px,
    1px
  ); /*maybe deprecated but we need to support legacy browsers */
  clip-path: inset(
    50%
  ); /*modern browsers, clip-path works inwards from each corner*/
  white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}
.hero {
  height: 100vh;
  width: auto;
}

.hero-bg {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
}
.hero-bg-inner {
  height: 100%;
  margin: auto;
  background: no-repeat center/80% radial-gradient(#2787bd, transparent 70%);
}

.hero nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100vw;
  height: 100vh;
}
.hero img {
  max-width: 97vw;
  padding-bottom: 3vw;
  padding-left: 2vw;
  transform: rotate(7deg);
}

.hero nav ul {
  list-style: none;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
}

.hero nav ul li {
  display: block;
}
li:not(:last-child) {
  margin-bottom: 1em;
}
.hero nav ul a {
  color: white;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-offset: 0.05em;
  text-decoration-thickness: 0.15em;
  text-decoration-color: #7f96ff;
  transition: 1s;
}
.hero nav ul a:hover {
  text-decoration-color: #ffec51;
}
main {
  margin: auto;
  display: grid;
  gap: 5em;
}

section {
  width: 100vw;
}
.project-card {
  height: 35vh;
  margin: auto;
  width: 70vw;
  background: white;
}

section {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -30vh;
}
section:not(:first-child) {
  margin-top: -60vh;
}
.project-card-wrapper {
  position: absolute;
  width: 100vw;
  top: 30%;
}
.project-card-gradient-wrapper {
  width: 100vw;
  height: 115vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 1.5s;
  z-index: -1;
}
.project-card-gradient {
  width: 80%;
  height: 100%;
  background-image: radial-gradient(
      circle at 50% 60%,
      #f89affa2 15%,
      transparent 23%
    ),
    radial-gradient(circle at 55% 76%, #f89affd5 2%, transparent 14%),
    radial-gradient(circle at 40% 62%, #9a73f6d0 15%, transparent 30%),
    radial-gradient(circle at 55% 55%, #80eaef 25%, transparent 40%),
    radial-gradient(circle at 60% 59%, #9b73f6 15%, transparent 30%),
    radial-gradient(circle at 49% 48%, #12ff45 25%, transparent 50%),
    radial-gradient(circle at 50% 51%, #fff 25%, transparent 50%);
  animation: project-gradient 2s 2s linear infinite alternate;
  background-repeat: no-repeat;
  background-size: 69% 69%;
  background-position: center;
}
@keyframes project-gradient {
  100% {
    opacity: 0.6;
    background-size: 78% 75%;
  }
}

.project-card-section a:hover + .project-card-gradient-wrapper {
  opacity: 1;
}

.project-card-inner::after {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: white;
  background-image: url("images/sleeper.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  transition: 2s;
}
.project-card-inner {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-card-inner > * {
  color: rgb(6, 74, 32);
  padding: 0;
  margin: 0 0 0.3em 0;
  z-index: 2;
  transition: 0.7s;
}
.project-card-section a:hover .project-card-inner > h2,
.project-card-section a:hover .project-card-inner > h3 {
  opacity: 0;
}
.project-card-inner:hover::after {
  opacity: 1;
}
.project-card-inner .project-card-arrow svg {
  width: 5.5em;
  position: absolute;
  opacity: 0;
  text-align: center;
  transition-delay: 0.1s;
  transition-duration: 1.3s;
  margin: 0 auto;
  transform: translateX(-50%);
  filter: drop-shadow(3px 5px 10px rgba(116, 230, 139, 0.4));
}

.project-card-section a:hover .project-card-arrow svg {
  opacity: 1;
  z-index: 2;
}

@media screen and (min-width: 700px) {
  .hero nav ul li {
    display: inline;
  }
  li:not(:last-child) {
    margin-right: 2em;
  }
  .hero img {
    width: 70vw;
    padding-left: 80px;
  }
  html {
    font-size: 1.4vw;
  }
}

@media screen and (min-width: 1000px) {
  h2 {
    font-size: 1.7em;
    font-weight: 800;
  }
  h3 {
    font-size: 1.3em;
    font-weight: 600;
  }
  .hero img {
    width: 60vw;
  }
  .project-card {
    width: 50vw;
    height: 40vh;
  }
}
@media screen and (min-width: 2000px) {
  html {
    font-size: 1vw;
  }
}

@media screen and (max-width: 700px) {
}
